<h1 class="well">{{#if _id}}Edit{{else}}Add{{/if}} Snippet</h1>



<div class="container col m12">
    <form class="col m12" action="/{{_id}}" method="post">
      <div class="row">
        <div class="input-field col m8 well">
          <label>Title:</label>
          <br>
          <input type="text" name="title" value="{{title}}" required>
          <br>
          <label>Language:</label>
          <br>
          <input type="text" name="language" value="{{language}}" required>
          <br>
          <label>Snippet:</label>
          <br>
          <textarea type="text" class="form-control" rows="5" name="body" required>{{body}}</textarea>
          <br>
          <label>Notes:</label>
          <input type="text" class="form-control" name="notes" value="{{notes}}"></input>
          <label>Tags:</label>
          <input type="text" class="form-control" name="tags" value="{{tags}}" rows="2"></input>
          <br>
          {{#if _id}}
          <label>Snippet created by: {{username}}</label>
          {{/if}}
          <br>
          <button type="submit" class="btn btn-primary">{{#if _id}}Update{{else}}Create{{/if}}</button>
        </div>
      </div>
    </form>
</div>
